html {
  height: 100%;
}
body {
  background-image: url(../../img/game/fon2.jpg);
  background-size: cover;
}
.containerForEffects {
  width: 100%;
  position: absolute;
  z-index: 997;
}
.effects {
  padding: 0.7em;
  border-radius: 20px;
  font-style: italic;
  text-align: justify;
  border: 2px solid #003d14;
  background-color: #fff3c7;
  font-size: 27px;
}
.close {
  background-image: url(../../img/game/icons/cross.png);
  background-size: cover;
  width: 30px;
  height: 30px;
}
.choose {
  font-size: 1.9rem;
  text-align: center;
  color: white;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  margin: 15px 0 15px 0;
}

.enemy {
  height: 11vh;
  background-image: url(../../img/game/fonGame.jpg);
  border-bottom: 2px solid #7a7a7a;
}
#enemyName {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 1.9rem;
}
.healthContainer {
  height: 2.5rem;
}
.healthBorder {
  width: 99%;
  height: 100%;
  margin-left: 0.5%;
  background-color: gray;
  border: 3px solid white;
  border-radius: 10px;
}
.health {
  font-size: 1.3rem;
  background-color: green;
  height: 100%;
  color: white;
  text-align: right;
  border-radius: 10px;
}
.spell {
  padding: 0 0.5rem;
  margin: 3px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 2rem;
  background-color: #208217;
  border-radius: 10px;
  border: 2px solid #003d14;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.battleSpell {
  width: 15%;
  height: 5.5%;
  border-radius: 20px;
  text-align: center;
  background-color: #dbac0069;
  box-shadow: 0px 3px 0px #003d14, 0px -3px 0px #003d14, 3px 0px 0px #003d14,
    -3px 0px 0px #003d14;
}

.gameTable {
  height: 69vh;
  font-size: 0;
}
.battlefield {
  text-align: center;
}
.battleSquare {
  background-color: #25645d;
  border: 1px solid white;
  height: 110px;
  width: 110px;
  display: inline-block;
}
.pathPoint {
  background-color: #d1a619;
  position: relative;
}
#buttonActiveSpell {
  margin: 30px 0 20px 0;
}
.userSpell {
  height: 3.5rem;
  background-color: #208217;
}
.needPoints {
  padding: 1em;
  font-size: 2rem;
  margin: 40px 0 20px 0;
}
#havePoints {
  margin: 0 0 70px 0;
}
.points {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 3px solid #ffbf1c;
}
.smallText {
  display: inline-block;
  color: white;
  font-size: 2rem;
}
.bigText {
  color: white;
  font-size: 6rem;
}
#buttonMuve {
  margin: 30px 0 20px 0;
}
.description {
  padding: 0.7em;
  border-radius: 20px;
  font-style: italic;
  text-align: justify;
  border: 2px solid #003d14;
  background-color: #fff3c7;
  font-size: 27px;
  max-height: 750px;
  overflow: auto;
}

.user {
  height: 20vh;
  background-image: url(../../img/game/fonGame.jpg);
}
.muve {
  width: 100%;
  padding: 0.3rem;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  color: #474747;
  font-weight: 800;
  border-top: 2px solid #7a7a7a;
  border-bottom: 2px solid #7a7a7a;
}
#userMuve {
  background-color: #519e5e;
}
#enemyMuve {
  background-color: #c44957;
}
.element {
  border-radius: 10px;
  background-color: #dbac0069;
  border: 2px solid #003d14;
  cursor: pointer;
}
.form {
  border-radius: 10px;
  background-color: #dbac0069;
  border: 2px solid #003d14;
  cursor: pointer;
}
.button {
  outline: none;
  font-size: 2rem;
  color: #fff;
  width: 100%;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  user-select: none;
  padding: 0.7em 1.5em;
  border: 1px solid rgb(80, 32, 0);
  border-radius: 25px;
  outline: none;
  background: rgb(35, 148, 94)
    linear-gradient(rgb(48, 107, 27), rgb(35, 148, 94) 80%);
  box-shadow: 0 6px rgb(17, 87, 6), 0 6px 15px rgba(0, 0, 0, 0.4),
    inset 0 3px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}
.button:hover {
  outline: none;
  cursor: pointer;
  background: rgb(41, 166, 143)
    linear-gradient(rgb(44, 125, 31), rgb(41, 166, 143) 80%);
}
.button:active {
  outline: none;
  background: rgb(120, 63, 25)
    linear-gradient(rgb(25, 120, 41) 20%, rgb(41, 166, 143));
  box-shadow: 0 2px rgb(22, 87, 6), 0 1px 6px rgba(0, 0, 0, 0.4),
    inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.button:focus {
  outline: none;
}
.selected {
  background-color: #487f00cc;
}
.selectedEffect {
  background-color: rgb(133, 1, 173);
}
