.container {
  height: 200px;
  width: 200px;
  border: 2px solid #ebdb83;
  border-radius: 30px;
  background-color: #3b3b3b;

  display: grid;
  grid-template-rows: 1fr 5fr;
  row-gap: 5%;
  justify-items: center;
}

.selected {
  background-color: #5a5a5a;
}

.title {
  border-radius: 30px;
  font-style: italic;
  color: #ebdb83;
  font-size: 1.5rem;
}

.picture {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

.fire {
  background-image: url(../../../img/createHero/fire.png);
}

.water {
  background-image: url(../../../img/createHero/water.png);
}

.earth {
  background-image: url(../../../img/createHero/earth.png);
}

.air {
  background-image: url(../../../img/createHero/air.png);
}

.life {
  background-image: url(../../../img/createHero/life.png);
}

.death {
  background-image: url(../../../img/createHero/death.png);
}

.spear {
  background-image: url(../../../img/createHero/spear.png);
}

.shild {
  background-image: url(../../../img/createHero/shild.png);
}

.crown {
  background-image: url(../../../img/createHero/crown.png);
}

.source {
  background-image: url(../../../img/createHero/source.png);
}

.sphere {
  background-image: url(../../../img/createHero/sphere.png);
}

.stamp {
  background-image: url(../../../img/createHero/stamp.png);
}

.key {
  background-image: url(../../../img/createHero/key.png);
}

.flow {
  background-image: url(../../../img/createHero/flow.png);
}

.power {
  background-image: url(../../../img/createHero/power.png);
}
