.fon {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}

.messageFon {
  width: 100vw;
  height: 100vh;
  position: fixed;

  display: grid;
  justify-items: center;
  align-items: center;
}

.messageContainer {
  background-color: rgb(255, 204, 138);
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  border: 2px rgb(228, 157, 25) solid;
}

.message {
  padding: 20px;
  font-size: 2.5rem;
  font-style: italic;
}

.closeButton {
  margin: 20px;
  font-size: 1.5rem;
}

@media (max-width: 1366px) {
  .message {
    font-size: 1.8rem;
    padding: 15px;
  }
  .closeButton {
    margin: 10px;
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .message {
    font-size: 1.5rem;
    padding: 12px;
  }
  .closeButton {
    margin: 10px;
    font-size: 1rem;
  }
}
