.button {
  outline: none;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  user-select: none;
  padding: 0.7em 1.5em;
  border: 1px solid rgb(80, 32, 0);
  border-radius: 25px;
  outline: none;
  background: rgb(35, 148, 94)
    linear-gradient(rgb(48, 107, 27), rgb(35, 148, 94) 80%);
  box-shadow: 0 6px rgb(17, 87, 6), 0 6px 15px rgba(0, 0, 0, 0.4),
    inset 0 3px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}
.button:hover {
  outline: none;
  cursor: pointer;
  background: rgb(41, 166, 143)
    linear-gradient(rgb(44, 125, 31), rgb(41, 166, 143) 80%);
}
.button:active {
  outline: none;
  background: rgb(120, 63, 25)
    linear-gradient(rgb(25, 120, 41) 20%, rgb(41, 166, 143));
  box-shadow: 0 2px rgb(22, 87, 6), 0 1px 6px rgba(0, 0, 0, 0.4),
    inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.button:focus {
  outline: none;
}
